body {
    background-color: greenyellow;
}

.animal_main {
    height: 150px;
    float:left;
    padding: 15px;

}

.clearfix{
    width: 48%;
    height: 275px;
    float: left;
    border: 3px solid black;
    overflow: auto;
}

table,th,td {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
   
}







#crocodile {
    background-color: blueviolet;
}

#elephant {
    background-color: aqua;
}

#giraffe {
    background-color: brown;
}

#tiger {
    background-color: pink;
}

